.Nav {
  width: 100vw;
  height: fit-content;
}

.content {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.right {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.right > button {
  height: 3rem;
  color: var(--color-text);
  font-weight: bolder;
}


.avatar {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--border-radius);
  background-color: var(--color-background);
  transition: 200ms;
}

.avatar.active {
  transition: 400ms;
  transform: translateY(-2px);
  width: 4rem;
}

.avatar > img {
  width: 100%;
  border-radius: var(--border-radius);
}

.left > a > h1 {
  color: var(--color-accent-dark);
}

.left:hover a > h1 {
  color: var(--color-accent);
}