.SettingsOpen {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.SettingsClosed {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-accent-dark);
  cursor: pointer;
  z-index: 3;
  font-size: 3rem;
  transition: 200ms;
}

.SettingsClosed:hover {
  color: var(--color-accent);
}

.SettingsClosed.active {
  transform: translateY(-2px);
  color: var(--color-accent);
}

.SettingsClosed.active > svg {
  transition: 600ms;
  font-size: 4rem;
}



.UserOpen {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.ChangeUsername {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.ChangeUsername > svg {
  cursor: pointer;
}