.SettingsClosed {
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-accent-dark);
  cursor: pointer;
  z-index: 3;
  font-size: 3rem;
  transition: 200ms;
}

.SettingsClosed:hover {
  color: var(--color-accent);
}

.SettingsClosed.active {
  transform: translateY(-2px);
  color: var(--color-accent);
}

.SettingsClosed.active > svg {
  transition: 400ms;
  font-size: 4rem;
}


.SettingsOpen {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-main);
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
}


.UserOpen {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  gap: 2rem;
  background-color: var(--color-main);
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
}

.UserOpen > button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1rem 1rem;
}


.ChangeUsername {
  position: relative;
  width: 75%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}


.ChangeAvatar {
  position: relative;
  width: 75%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.ChangeAvatar > img {
  width: 4rem;
  height: 4rem;
  border-radius: var(--border-radius);
}

.EditIcon {
  position: absolute;
  right: 0;
}

.DeleteAccount {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}