.pomodoro {
  width: 100%;
  min-height: calc(90vh - 8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  height: fit-content;
}

.top {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  gap: 0.25rem;
}

.top > div {
  position: relative;
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  border-radius: var(--border-radius);
  transition: var(--speed) ease;
  background-color: var(--color-main);
  box-shadow: var(--depth),
              var(--depth-shadow);
}

.fill {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: var(--color-accent-dark);
  border-radius: var(--border-radius);
  transition: 200ms;
}

.top > div:hover .fill {
  background-color: var(--color-accent);
}

.session {
  width: 100%;
  min-height: calc(90vh - 17rem);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: space-evenly;
}

.session > h1 {
  font-weight: 800;
}

.session > span {
  font-size: 4rem;
  font-weight: 300;
}

.session > h4 {
  font-style: italic;
}

.session > button {
  font-size: 1.5rem;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.otherSessions {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}