:root {
  --color-background: #222831;
  --color-main: rgba(255, 255, 255, 0.025);
  --color-accent: #00ADB5;
  --color-text: #EEEEEE;
  --border-radius: 4px;
  --speed: 300ms;
}

* {
  padding: 0;
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  background-color: var(--color-background);
  color: var(--color-text);
}

button {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: 'Comfortaa', cursive;
  background-color: var(--color-accent);
  border: none;
  cursor: pointer;
  color: var(--color-text);
  border-radius: var(--border-radius);
}

input {
  width: 100%;
  border: none;
  outline: 2px solid transparent;
  transition: var(--speed);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  font-size: 1rem;
}

input:focus {
  outline: 2px solid var(--color-accent);
}

a {
  text-decoration: none;
  color: var(--color-accent)
}