:root {
  --color-background: #222831;
  --color-main: rgba(255, 255, 255, 0.025);
  --color-accent: #00ADB5;
  --color-accent-dark: rgba(0, 173, 181, 0.60);
  --color-text: #cacaca;
  --border-radius: 4px;
  --speed: 300ms;
  --depth: inset 0 -2px 0 rgb(255, 255, 255, 0.025);
  --depth-shadow: inset 0 2px 2px hsla(0, 0%, 0%, 0.025);
  --height: inset 0 -4px 0 rgb(0, 0, 0, 0.2);
}

* {
  padding: 0;
  margin: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  font-family: 'Comfortaa', cursive;
  background-color: var(--color-background);
  color: var(--color-text);
  width: 100vw;
  overflow-x: hidden;
  font-size: 24px;
}

button {
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: 'Comfortaa', cursive;
  background-color: var(--color-accent-dark);
  border: none;
  cursor: pointer;
  color: var(--color-text);
  border-radius: var(--border-radius);
  box-shadow: var(--height);
  transition: 100ms;
}

button:hover {
  background-color: var(--color-accent);
}

input {
  width: 100%;
  border: none;
  outline: 2px solid transparent;
  transition: var(--speed);
  border-radius: var(--border-radius);
  padding: 0.5rem;
  font-size: 1rem;
}

input:focus {
  outline: 2px solid var(--color-accent);
}

a {
  text-decoration: none;
  color: var(--color-accent)
}